body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2rem;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    margin-bottom: 0;
}

#bookDetails p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

#bookDetails strong {
    font-weight: 600;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}


